global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

defaults
    # 使用tcp转发模式
    mode                    tcp
    log                     global
    option                  dontlognull
    option http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

    # 前端地址信息， xx.xx.xx.xx:27017
frontend  115.28.239.71:27017
    default_backend             app

    # 后端地址信息，zz.zz.zz.zz:3717 
backend app
    balance     roundrobin
    server  app1 dds-2ze79d3d70a65e542.mongodb.rds.aliyuncs.com:3717 check
